<section>
  <h1>About Me</h1>
  <p>I'm Gulshan Singh, and I'm a security engineer working for Facebook. I'm a big PL theory nerd and an avid CTF player.

  <style>
   table#facts tr td {
       padding-right: 10px;
   }
   table#facts tr td:last-child {
       font-weight: bold;
   }
  </style>
  <p>
      The only five things you need to know about a person:<br>
      <table id="facts">
          <tr>
              <td>Tabs or spaces:</td><td>spaces</td>
          </tr>
          <tr>
              <td>Vim or emacs:</td><td>emacs</td>
          </tr>
          <tr>
              <td>Favorite Linux distro:</td><td><a href="https://www.archlinux.org/">Arch</a></td>
          </tr>
          <tr>
              <td>Favorite language</td><td><a href="http://rust-lang.org">Rust</a></td>
          </tr>
          <tr>
              <td>Favorite shell</td><td><a href="http://www.zsh.org/">ZSH</a></td>
          </tr>
      </table>
  </p>
  Follow me (<a style="font-weight: bold" href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a>) on GitHub!
</section>
