<section>
  <h1>About Me</h1>
  <p>I'm Gulshan Singh, and I'm a software developer working for Facebook. My interests include programming language theory and security. You can find out more on the <a href="/about.html">about page</a>.<p>

  <style>
   table#facts tr td {
       padding-right: 10px;
   }
   table#facts tr td:last-child {
       font-weight: bold;
   }
  </style>
  <p>
      Some important things about me:<br>
      <table id="facts">
          <tr>
              <td>Tabs or spaces:</td><td>spaces</td>
          </tr>
          <tr>
              <td>Vim or emacs:</td><td>emacs</td>
          </tr>
          <tr>
              <td>Favorite Linux distro:</td><td><a href="https://www.archlinux.org/">Arch</a></td>
          </tr>
          <tr>
              <td>Favorite language</td><td><a href="http://rust-lang.org">Rust</a></td>
          </tr>
          <tr>
              <td>Favorite shell</td><td><a href="http://www.zsh.org/">ZSH</a></td>
          </tr>
      </table>
  </p>
  Follow me (<a style="font-weight: bold" href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a>) on GitHub!
</section>
